<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Non è stato possibile autenticare la richiesta</p>
    <p>Ti preghiamo di riprovare, se l'errore dovesse persistere ti invitiamo a segnalarlo</p>
</div>