<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Non è stato possibile trovare alcuna domanda con l'id specificato</p>
    <p>@ViewData["ExceptionMessage"]</p>
    <p>Non occore segnalarlo, ti preghiamo di riprovare</p>
</div>